<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderlistDao">
		
	<insert id="insert" parameterType="orderlist">

	</insert>
	
	<update id="update" parameterType="orderlist">

	</update>
	
	<delete id="delete" parameterType="orderlist">
	
	</delete>
	
	<select id="select" parameterType="String" resultType="orderlist">
		SELECT ITEMNAME, SUM(QUANTITY)AS QUANTITY FROM ORDERLIST WHERE ORDERID >= '20112300' GROUP BY ITEMNAME, QUANTITY ORDER BY QUANTITY DESC
	</select>
	
	<select id="selectall" resultType="orderlist">
		<![CDATA[SELECT ITEMNAME, SUM(QUANTITY)AS QUANTITY FROM ORDERLIST WHERE ORDERID>='20112300' GROUP BY ITEMNAME, QUANTITY ORDER BY QUANTITY DESC]]>
	</select>
	
	<select id="getorderlist" parameterType="String" resultType="orderlist">	
		SELECT ITEMNAME, SUM(QUANTITY)AS QUANTITY FROM ORDERLIST WHERE ORDERID LIKE #{k} GROUP BY ITEMNAME ORDER BY QUANTITY DESC
	</select>
	


</mapper>